@font-face {
    font-family: SansArabBold;
    src: url('../fonts/TheSans-Bold.otf');
}
@font-face {
    font-family: SansArabPlain;
    src: url('../fonts/The-Sans-Plain.otf');
}
@font-face {
    font-family: SansArabLight;
    src: url('../fonts/TheSansArabic-Light.otf');
}
.img{
    width: 200px;
    height: 200px;
}
body{
    background-color: #044d45;
}
#participate {
    font-size: 50px;
    margin: 30px 0px;
    font-family: SansArabBold, sans-serif;
    color:#FFC107;
;


}
nav {
    background-color: #044d45 ;
}


/* .mainBody {
    background-position: center;
    background-color: rgb(22, 20, 20);
    margin: 0% 9.5%;
    border: white solid 5px;
} */

ul {
    list-style-type: none;
    margin: 0 5%;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: SansArabBold, sans-serif;
}

li a:hover {
    background-color: rgba(8, 167, 216);
    color: white;
    text-decoration: none;
    border-radius: 7px;
}
