body{
    background-color: #009D8E;

}
.container-fluid{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all{
    background-color: white;
    /*	width: 90%;*/
    width: 1400px;
}
.img-container{
    /*	height: 60vh;*/
    padding-top:5.75vh;
    padding-bottom:5.75vh;
    padding-right: 0;
}
img{
    width: 100%;
    height: 100%;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.m{
    margin-left: -15px;
    margin-right: -15px;
}
.left-part-container{
    /*    	height: 75vh;*/

    padding-top:5.75vh;
    padding-bottom:5.75vh;
}
.left-part-container .row{
    margin-bottom: 1.5rem;
}
.ara-b{
    text-align: center;
    padding: 17px 5px;
    font-size: 20px;
    font-weight: bold;
}
.ratings .fa{
    font-size: 30px;
    cursor: pointer;
    margin: 0 10px;
}


input{
    margin-top: 20px;
    font-size:22px;
    padding:6px 12px;
    color: #FFCB00
}
button{
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
button:focus{
    outline: none;
}
.white{
    background-color: #E6E6E6;
    color: #009D8E;
}
.green-light{
    background-color: #009D8E;
    color: #E6E6E6;
}
.green-dark{
    background-color: #044D45;
    color: #E6E6E6;
}
.gray{
    background-color: #C9C795;
    color: #E6E6E6;
}
.mtx{
    margin-top: 44px;
}
@media(max-width:1200px){
    .ara-b,button{
        font-size: 20px;
    }
    .ratings .fa{
        font-size: 30px;
    }
    .img-container{
        padding-right: 15px;
    }
    .container-fluid{
        height: auto;
    }
    .all{
        width: 100%;
    }
}
@media(max-width:500px){
    .ara-b,button{
        font-size: 15px;
    }
    .ratings .fa{
        font-size: 15px;
        margin: 0 5px;
    }
    body{
        padding-top: 50px;
        padding-bottom: 50px;
    }

}

